<!DOCTYPE html>
<html lang="en">

<head>
  <title>Liver Disease Symptoms and Preventions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">

  {% load static %} 
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <style>
    .card-title{
      text-transform: uppercase;
    }

    img{
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      margin-top: 20%;
    }

  </style>
</head>

<body>

  <body>

    <div class="site-wrap fixed-top">
  
      <div class="site-navbar py-2">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">HEALTHCARE APP</a>
              </div>
            </div>
            <div class="main-nav d-none d-lg-block">
              <nav class="site-navigation text-right text-md-center" role="navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li><a href="/">Home</a></li>
                  <li><a href="heart_pred">Heart Disease</a></li>
                  <li><a href="liver_pred">Liver Disease</a></li>
                  <li><a href="stroke_pred">Brain Stroke</a></li>
                  <li class="has-children">
                    <a href="#">Symptoms/ Preventions</a>
                    <ul class="dropdown">
                      <li><a href="heart_remedies">Heart Disease</a></li>
                      <li><a href="liver_remedies">Liver Disease</a></li>
                      <li><a href="brain_remedies">Brain Stroke</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="icons">
              <!-- <a href="#" class="icons-btn d-inline-block" data-toggle="modal" data-target="#login"><b>LOG IN/ SIGN UP</b>
                <i class="icon-input"></i>
              </a> -->
              <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                  class="icon-menu"></span></a>
            </div>
            
          </div>
        </div>
      </div>
  </div>
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-8">
        <div class="container">
          <blockquote class="blockquote bq-danger">
            <p class="bq-title text-uppercase"><b>Factors that put people at increased risk for heart disease are</b></p>
            <p class="text-black text-lg">
              Smoking, High Blood Pressure, High Cholesterol, Diabetes, Family history of heart problems especially heart attacks and strokes, Obesity
            </p>
          </blockquote>
        </div>
  
        <br>
  
        <div class="container-fluid">
          <h4 style="color: black;"><b>HEART DISEASE SYMPTOMS:</b> </h4>
          <div class="card-columns">
          <div class="card text-black success-color text-center mt-2 mb-3">
            <div class="card-body text-white">
              <h5 class="card-title"><b>Chest Pain (Angina)</b></h5>
              <p class="card-text text-white">It is described a crushing pain or heaviness in the center of the chest with radiation of the pain to the arm (usually the left) or jaw. </p>
            </div>
          </div>
          <div class="card light-blue accent-4  text-center mt-2 mb-3">
            <div class="card-body text-white">
              <h5 class="card-title"><b>difficulty breathing, fatigue and light headedness</b></h5>
              <p class="card-text text-white">Women, people who have diabetes, and the elderly may have different pain perceptions and may complain of overwhelming fatigue and weakness or a change in their ability to perform routine daily activities like walking, climbing steps, or doing household chores.</p>
            </div>
          </div>
          <div class="card blue warning-color text-black text-center mt-2 mb-3">
            <div class="card-body text-white">
              <h5 class="card-title"><b>swelling due to fluid retention, or edema</b></h5>
              <p class="card-text text-white"></p>
            </div>
          </div>
          
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <img src = "{% static 'images/liver.jpg' %}">
      </div>
    </div>
    </div>
  
      <div class="container-fluid">
        <h4 style="color: black;"><b>HOW TO PREVENT HEART DISEASE?</b> </h4>
        <div class="card-columns">
          <div class="card blue warning-color text-black text-center mt-2 mb-3">
            <div class="card-body text-white">
              <h5 class="card-title"><b>Eating a balanced diet</b></h5>
              <p class="card-text text-white">Opt for a heart-healthy diet that is rich in fiber and favors whole grains and fresh fruits and vegetables. Also, limit the intake of processed foods and added fat, salt, and sugar.</p>
            </div>
          </div>
          <div class="card light-blue accent-4  text-center mt-2 mb-3">
            <div class="card-body text-white">
              <h5 class="card-title"><b>Maintaining a moderate body weight</b></h5>
              <p class="card-text text-white">Being overweight especially around your middle increases your risk of heart disease. Excess weight can lead to conditions that increase your chances of developing heart disease, including high blood pressure, high cholesterol and type 2 diabetes.</p>
            </div>
          </div>
        <div class="card text-black success-color text-center mt-2 mb-3">
          <div class="card-body text-white">
            <h5 class="card-title"><b>Exercising regularly</b></h5>
            <p class="card-text text-white">This can help strengthen the heart and circulatory system, reduce cholesterol, and maintain blood pressure.</p>
          </div>
        </div>
        
  
        
        <div class="card blue warning-color text-black text-center mt-2 mb-3">
          <div class="card-body text-white">
            <h5 class="card-title"><b>Get good quality sleep</b></h5>
            <p class="card-text text-white">A lack of sleep can do more than leave you yawning; it can harm your health. People who don't get enough sleep have a higher risk of obesity, high blood pressure, heart attack, diabetes and depression</p>
          </div>
        </div>
        <div class="card light-blue accent-4  text-center mt-2 mb-3">
          <div class="card-body text-white">
            <h5 class="card-title"><b>Get regular health screenings</b></h5>
            <p class="card-text text-white">Seek treatment for conditions that affect heart health, such as high blood pressure, obesity, and diabetes.</p>
          </div>
        </div>
      <div class="card text-black success-color text-center mt-2 mb-3">
        <div class="card-body text-white">
          <h5 class="card-title"><b>Quitting smoking</b></h5>
          <p class="card-text text-white">Smoking is a major risk factor for heart and cardiovascular conditions.</p>
        </div>
      </div>
      
      
    </div>
      </div>
     
      
  </body>
  
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script> 
  
    <script src="{% static 'js/main.js' %}"></script> 
  
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
    <!-- Material Design for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
</body>  

</html>